fastapi
uvicorn[standard]
pydantic
python-multipart
sqlalchemy[asyncio]
aiosqlite
asyncpg
anthropic
rapidfuzz
pandas
sendgrid
twilio
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
alembic
aiohttp
google-auth
